.container {
    width: 100%;
    

}

.col-6 {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: lightblue;
}
.col-12 {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: lightblue;
}